
@media only screen and (min-width: 200px) and (max-width: 767px)  {
    #container {
        flex-direction: column;
        width: 100% !important;
    }

    #left-col {
        width: 100% !important;
    }

    #right-col {
        width: 95% !important;
        padding-left: 0px !important;

    }

    h2 {
        padding-left: 40px;
    }

    .rounded-box {
        display: block !important;
        margin-bottom: 5px !important;
    }

    .media-min-1024 {
        margin-left: 40px !important;
    }

    .media-min-1024 p {
        margin-left: 0px !important;
        padding-left: 0px !important;
        margin-bottom: 10px !important;
    }

    .tec-sk {
        padding-left: 0px !important;
        margin-right: 0px !important;
    }

}


@media only screen and (min-width: 768px) and (max-width: 1024px)  {
    #container {
        width: 90% !important;
    }
    
    #left-col {
        width: 40% !important;
    }

    #right-col {
        width: 60% !important;
        padding-left: 0px !important;

    }

    h2 {
        padding-left: 20px;
    }

    .rounded-box {
        display: block !important;
        margin-bottom: 5px !important;
    }

    .media-min-1024 {
        margin-left: 40px !important;
    }

    .media-min-1024 p {
        margin-left: 0px !important;
        padding-left: 0px !important;
        margin-bottom: 10px !important;
    }

    .tec-sk {
        padding-left: 0px !important;
        margin-right: 0px !important;
    }
}

