.ml-auto, .mx-auto {
  margin-left: auto !important;
}
  
.mr-auto, .mx-auto {
  margin-right: auto !important;
}
  
.mt-auto, .my-auto {
  margin-top: auto !important;
}
  
.mb-auto, .my-auto {
  margin-bottom: auto !important;
}

.m-auto {
  margin: auto !important;
}


.mt-10 {
  margin-top: 10px !important;
}

.mt-100 {
  margin-top: 100px;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mb-60 {
  margin-bottom: 60px !important;
}

.ml-10 {
  margin-left: 10px !important;
}

.ml-30 {
  margin-left: 30px !important;
}

.ml-60 {
  margin-left: 60px !important;
}

.ml-80 {
  margin-left: 80px !important;
}

.p-8 {
  padding: 8px;
}

.pt-80 {
  padding-top: 80px;
}

.pb-80 {
  padding-bottom: 80px;
}

.pl-80 {
  padding-left: 80px !important;
}
