@import url(spacing.css);
@import url(flex.css);
@import url(mediascreen.css);
@import url(lightmode.css);

/* Spacing Reset:
** ------------------------------ */
html, body {
    width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
    background-color: #4c5055;
    font-family: Poppins,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    color: white;
}

p, h2, h3, h4 {
    margin: 0;
}

button {
    margin: 0;
    padding: 0;
}

hr {
    height: 2px;
    background-color: #2A2D31;
    border: none;
}

#container {
    width: 75%;
    position: relative;
}

.beige {
    color: #f0d394;
}

.u-case {
    text-transform: uppercase;
}

.no-decor {
    text-decoration: none;
}

/* LEFT COLLUMN:
** ------------------------------ */
#left-col {
    width: 30%;
    flex-direction: column;
    background-color: #2A2D31;
}
 
/* Profile Foto */
.profile-img {
    border-radius: 10%;
    width: 65%;
}

/* Social Links */
#left-col ul {
    list-style-type: none;
    padding: 0;
}

#left-col ul li {
    margin: 0 10px;
}

#left-col ul li img {
    width: 40px;
}

.skill-full {
    border: 1px solid #fff;
    background-color: #fff;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    display: inline-block;
}

.skill-empty {
    border: 1px solid #fff;
    background-color: transparent;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    display: inline-block;
}


/* Languages */
.language {
    flex-direction: column;
}

.language p span {
    text-align: right;
    margin-left: 10px;
}
  
  
/* RIGHT COLLUMN:
** ------------------------------ */
#right-col {
    width: 70%;
    flex-direction: column;
    position: relative;
}

#right-col p,
#right-col h3,
#right-col h4 {
    padding-left: 40px;
}

.location {
    float: right;
    font-weight: normal;
}

.tec-sk {
    padding-left: 40px;
    margin: 0 60px 0 40px;
}


/* SKILL BOX:
** ------------------------------ */
.rounded-box {
    background-color: #2A2D31;
    border-radius: 10px;
    padding: 8px;
    display: inline-block;
}

.rounded-box-2 {
    background-color: #4c5055;
    border-radius: 10px;
    padding: 8px;
    display: inline-block;
}


/* BUTTONS:
** ------------------------------ */
#btn-en {
    border: none;
    border-radius: 0 0 0 10px;
    cursor: pointer;
}

#btn-pt {
    border: none;
    border-radius: 0 0 10px 0;
    cursor: pointer;
}

.language-btn {
    position: absolute;
    top: 0;
    right: 0;
    z-index:1;
}

.btn-beige {
    height: 35px;
    background-color: #f0d394;
    color: #2A2D31;
}

.btn-grey {
    height: 35px;
    background-color: #2A2D31;
    color: #fff;
}



